body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  h2 {
    text-align: center;
    color: #555;
    margin-top: 20px;
  }
  
  hr {
    border: 1px solid #ccc;
    margin: 20px 0;
  }
  
  a:hover {
    color: #007bff;
    text-decoration: underline;
  }
  
  
  img {
    max-width: 900px;
    border-radius: 6px;
    margin-bottom: 10px;
  }